<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>AllowedTypes</key>
   <array>
      <string>public.swift-source</string>
   </array>
   <key>Description</key>
   <string>Assemblies describe how our VIPER layers are instantiated and wire up there dependencies</string>
   <key>Kind</key>
   <string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
   <key>MainTemplateFile</key>
   <string>___FILEBASENAME___.swift</string>
   <key>Options</key>
   <array>
      <dict>
         <key>Description</key>
         <string>Assembly name</string>
         <key>Identifier</key>
         <string>moduleName</string>
         <key>Name</key>
         <string>Assembly name</string>
         <key>NotPersisted</key>
         <true/>
         <key>Required</key>
         <true/>
         <key>Type</key>
         <string>text</string>
      </dict>
      <dict>
         <key>Default</key>
         <string>___VARIABLE_moduleName___</string>
         <key>Identifier</key>
         <string>productName</string>
         <key>Type</key>
         <string>static</string>
      </dict>
   </array>
   <key>Platforms</key>
   <array>
      <string>com.apple.platform.iphoneos</string>
   </array>
   <key>SortOrder</key>
   <integer>98</integer>
</dict>
</plist>
