<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>AllowedTypes</key>
   <array>
      <string>public.swift-source</string>
   </array>
   <key>Description</key>
   <string>Will generate a Quick and Nimble test spec</string>
   <key>Kind</key>
   <string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
   <key>MainTemplateFile</key>
   <string>___FILEBASENAME___.swift</string>
   <key>Options</key>
   <array>
      <dict>
         <key>Description</key>
         <string>What do you want to test?</string>
         <key>Identifier</key>
         <string>specName</string>
         <key>Name</key>
         <string>Class to test</string>
         <key>NotPersisted</key>
         <true/>
         <key>Required</key>
         <true/>
         <key>Type</key>
         <string>text</string>
      </dict>
      <dict>
         <key>Default</key>
         <string>Loco</string>
         <key>Description</key>
         <string>Framework prefix</string>
         <key>Identifier</key>
         <string>modulePrefix</string>
         <key>Name</key>
         <string>Framework prefix</string>
         <key>NotPersisted</key>
         <true/>
         <key>Required</key>
         <false/>
         <key>Type</key>
         <string>text</string>
      </dict>
      <dict>
         <key>Default</key>
         <string>___VARIABLE_specName:identifier___Spec</string>
         <key>Identifier</key>
         <string>productName</string>
         <key>Type</key>
         <string>static</string>
      </dict>
   </array>
   <key>Platforms</key>
   <array>
      <string>com.apple.platform.iphoneos</string>
   </array>
   <key>SortOrder</key>
   <integer>93</integer>
</dict>
</plist>
